<p class="muted">
  <%= image_tag "oops.png", class: "img-polaroid pull-left oops" %>
  <% if @status.present? %>
    <h3><%= @status %></h3>
  <% end %>
  Ooops..
</p>

<script type="text/javascript" defer>
  window.location.href.replace(/\?.*/,'');
</script>
