<div class="session-new">
  <h3>Sign in</h3>

  <ul class="unstyled">
    <li>
      <%= link_to "/auth/facebook" do %>
        <i class="icon-facebook-sign icon-2x"></i> Sign in through facebook
      <% end %>
    </li>
    <li>
      <%= link_to "/auth/github" do %>
        <i class="icon-github-sign icon-2x"></i> Sign in through github
      <% end %>
    </li>
    <li>
      <%= link_to "/auth/google" do %>
        <i class="icon-google-plus-sign icon-2x"></i> Sign in through google
      <% end %>
    </li>
  </ul>
</div>
