<div id="comments">
  <hr />

  <%= render partial: 'comments/form', locals: { article: index } %>

  <hr />

  <div class="comments">
    <% if (comments = index.comments) && comments.any? %>
      <%= nested_comments(comments.arrange(order: :created_at)) %>
    <% else %>
      <p class="comment-be-first muted">Be the first to comment</p>
    <% end %>
  </div>
</div>
