<% if can? :edit, article %>
  <div class="article-actions btn-group">
    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
      <i class="icon-wrench"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <% if article.published? %>
          <% if can? :unpublish, article %>
            <%= link_to unpublish_article_path(article), method: :put, title: "Unpublish",
              confirm: "Are you sure?", 'data-confirm-title' => "Unpublish article: #{truncate(article.title, length: 20)}?"  do %>
              <i class="icon-frown"></i> Unpublish
            <% end %>
          <% end %>
        <% else %>
          <% if can? :publish, article %>
            <%= link_to publish_article_path(article), method: :put, title: "Publish",
              confirm: "Are you sure?", 'data-confirm-title' => "Publish article: #{truncate(article.title, length: 20)}?"  do %>
              <i class="icon-smile"></i> Publish
            <% end %>
          <% end %>
        <% end %>
      </li>

      <li>
        <%= link_to edit_article_path(article), title: "Edit" do %>
          <i class="icon-wrench"></i> Edit article
        <% end %>
      </li>

      <% if can? :destroy, article %>
        <li>
          <%= link_to article_path(article), method: :delete, title: "Delete",
            data: { confirm: "Are you sure?" }, 'data-confirm-title' => "Delete article: #{truncate(article.title, length: 20)}?" do
          %>
            <i class="icon-remove"></i> Destroy article
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
