<ul class="nav nav-list">
  <li class="nav-header">Users</li>
  <li>
    <%= link_to "All Users", users_path %>
  </li>

  <li class="nav-header">Articles</li>
  <li>
    <%= link_to "Create new article", new_article_path %>
  </li>
  <li>
    <%= link_to "Unpublished articles", unpublished_articles_path %>
  </li>
</ul>
