<% user ||= current_user %>

<% if user.comments.any? %>
  <div class="row-fluid" id="user-comments-container">
    <h3>User's comments</h3>
    <ul class="unstyled" id="user-comments">
      <% user.comments.each do |comment| %>
        <li id="user-comment-<%= comment.id.to_s %>">
          <h5>
            <%= link_to truncate(comment.article.title, length: 100), comment.article %>
          </h5>
          <%= render comment %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
