<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
      <th>Ban</th>
    </tr>
  </thead>

  <tbody>
    <%= render(@users) %>
  </tbody>
</table>
