secret_token: "..."
development:
  omniauth:
    facebook:
      key: "..."
      secret: "..."
    github:
      key: "..."
      secret: "..."
test:
  omniauth:
    facebook:
      key: "..."
      secret: "..."
    github:
      key: "..."
      secret: "..."
production:
  omniauth:
    facebook:
      key: "..."
      secret: "..."
    github:
      key: "..."
      secret: "..."
